@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* color-scheme: light dark; */
  --yellow-color: rgb(255, 205, 0);
  --blue-color: rgb(0, 48, 135);
  --red-color: rgb(200, 16, 46);
  --red-univalle-color: rgb(205, 31, 50);
  /* --red-univalle-color: rgb(252, 2, 4); */
  --white-univalle-color: rgb(252, 254, 252);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-univalle-color);
  /* background-color: #f6f7f8; */
  font-family: 'Poppins', sans-serif;
  color: #060c1f;
  overflow-x: hidden;
  scrollbar-width: none;
}

a {
  text-decoration: none;
}

#app {
  width: 100%;
  height: 100vh;
}

input {
  outline: none;
}
